  body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
        }

        .navbar {
            /* تخلي العناصر في صف واحد.*/
            display: flex;
            /* توزيع العناصر أفقيًا */
            justify-content: space-between;
            /* توسيط العناصر عموديًا */
            align-items: center;

            /* Adds 20px padding top & bottom, 50px left & right, giving space inside the navbar for breathing room. */
            padding: 20px 50px;

            /* Makes the navbar background white. */
            background-color: white;
            /*يضيف ظل ناعم أسفل شريط التنقل، يعطيه مظهرًا بارزًا أو "مرفوعًا" قليلًا عن الخلفية.*/
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

        }

        .logo {
            font-weight: bold;
            font-size: 20px;
            /*لون الخط برتقالي*/
            color: #ff6600;
            /* يجعل العناصر (الصورة + النص) تظهر بجانب بعض أفقيًا.*/
            display: flex;
            /*يجعل الصورة والنص في نفس المستوى عموديًا (في المنتصف).*/
            align-items: center;
        }

        .logo-img {
            height: 30px;
        }

        .logo-text {
            /*يضيف مسافة 10px بين الصورة والنص.*/
            margin-left: 10px;
            /*يخلي الخط عريض.*/
            font-weight: bold;
            /*يحدد حجم الخط 24px.*/
            font-size: 24px;
            /*لون الخط برتقالي.*/
            color: #ff6600;
        }

        .image {
            height: 200px;
            width: 200px;
            display: flex;
            position: absolute;
        }

        /*-----------------*/
        .hero {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px 5%;
        }

        .hero-text h1 span {
            color: #ff6600;
            font-size: larger;
        }

        .hero-text h1 {
            color: black;
            font-size: 35px;
        }

        .get-started {
            background-color: #ff6600;
            color: white;
            /* Adds padding around the button text. */
            padding: 10px 20px;
            /* Removes the default border of the button. */
            border: none;
            /* Makes the button edges rounded. */
            border-radius: 25px;
            /* Makes the button text bold. */
            font-weight: 600;
            /* Changes the cursor to a pointer when hovering over the button. */
            cursor: pointer;
            /* Smooth transition for background color change. */
            transition: background-color 0.3s;
        }

        .hero-image {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .hero-image img {
            width: 100%;
            max-width: 500px;
            height: auto;
        }

        /*-----------------*/

        .nav-links {
            /* تخلي العناصر في صف واحد.*/
            display: flex;
            /* المسافة بين العناصر في شريط التنقل.*/
            gap: 30px;
            /* توسيط العناصر عموديًا.*/
            align-items: center;
            list-style: none;
            margin: 0 auto;
        }

        .nav-links a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
            transition: color 0.3s;
        }

        .nav-links a:hover {
            color: #ff6600;
        }

        .nav-links a.active {
            color: #ff6600;
        }

        .signup-btn {
            background-color: #ff6600;
            color: white;
            /* Adds padding around the button text. */
            padding: 10px 20px;
            /* Removes the default border of the button. */
            border: none;
            /* Makes the button edges rounded. */
            border-radius: 25px;
            /* Makes the button text bold. */
            font-weight: 600;
            /* Changes the cursor to a pointer when hovering over the button. */
            cursor: pointer;
            /* Smooth transition for background color change. */
            transition: background-color 0.3s;
            text-align: right;
        }

        .signup-btn:hover {
            background-color: #e65c00;
        }

        .right-section {
            display: flex;
            align-items: center;
        }

        @media (max-width: 768px) {
            .navbar {
                flex-direction: column;
                align-items: flex-start;

            }

            .nav-links {
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
            }
        }

        /*------------------------------------*/
        .services p {
            text-align: center;
        }

        .services h2 {
            text-align: center;
        }

        .services h2 span {
            color: #ff6600;
        }

        .service-cards {
            /*يُحوّل العنصر إلى شبكة (Grid Layout).*/
            display: grid;
            /*يحدد عدد الأعمدة في الشبكة.*/
            /*في هذه الحالة، لدينا 4 أعمدة.*/
            grid-template-columns: repeat(4, 1fr);
            /*يحدد المسافة بين الأعمدة.*/
            gap: 20px;
            /*يحدد المسافة بين الصفوف.
            40px من الأعلى والأسفل
            5% من الجانبين (يعني نسبة من عرض الصفحة).
            */
            padding: 40px 5%;
        }

        .card {
            position: relative;
            background: white;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .card h3 {
            /* لإعطاء مساحة للصورة */
            margin-top: 60px;
            /* لجعل النص في المنتصف */
            text-align: center;

        }

        .card-icon {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 75px;
            height: 75px;

        }

        /*-------------------FOOTER-----------------*/
        .footer {
            /* تخلي العناصر في صف واحد.*/
            display: flex;
            /* توزيع العناصر أفقيًا */
            justify-content: space-between;
            /* توسيط العناصر عموديًا */
            align-items: center;

            /* Adds 20px padding top & bottom, 50px left & right, giving space inside the navbar for breathing room. */
            padding: 20px 50px;

            /* Makes the navbar background white. */
            background-color: rgb(237, 177, 65);
            /*يضيف ظل ناعم أسفل شريط التنقل، يعطيه مظهرًا بارزًا أو "مرفوعًا" قليلًا عن الخلفية.*/
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        }

        .footer-container {
            font-size: 22px;
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            color: white;
            margin: 0 auto;
        }

        .footer-section {
            flex: 1;
            color: white;
            padding: 10px;
        }

        .footer-section h4 {
            color: white;
            margin-bottom: 10px;
        }

        .footer-section ul {
            list-style-type: none;
            color: white;
            padding: 0;
        }

        .footer-section ul li {
            color: white;
            margin-bottom: 5px;
        }

        .footer-section a {
            color: white;
            text-decoration: none;
        }

        .footer-section a:hover {
            color: white;
            text-decoration: underline;
        }

